[submodule "BTS"]
	path = BTS
	url = https://github.com/astog/BTS
[submodule "distant-multiplayer-start"]
	path = distant-multiplayer-start
	url = https://github.com/kevincoghlan/distant-multiplayer-start
[submodule "MoreLenses"]
	path = MoreLenses
	url = https://github.com/astog/MoreLenses
[submodule "BES"]
	path = BES
	url = https://github.com/astog/BES
